body {
  background-color: rgb(7, 8, 8);
  font-family: lobster, cursive;
  /* color: rgb(4, 184, 136); */
  background-image: url("https://picsum.photos/2000/2000");
  background-position: cover;
  background-repeat: no-repeat;
}

.heading {
  border: 3px dotted rgb(44, 48, 48);
}
